test-results
node_modules

# IDE
.idea
.fleet

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# volume
volume/**

# Paraglide
src/lib/paraglide

# windsurf rules
.windsurfrules

# Playwright
playwright-report
playwright-report/*
